%h1 Goals

%table
  %thead
    %tr
      %th #
      %th Labels
      %th Title, GitHub Issue Link
      %th Author
      %th Created
      %th Reviewed
      %th Tried
      %th ðŸ‘ðŸ¾
      %th ðŸ‘ŽðŸ¼

  %tbody
    - @goals.each do |goal|
      %tr
        %td= link_to goal.id, goal.issue_path, title: 'See GitHub Issue/Goal'
        %td= render 'labels', goal: goal
        %td
          = link_to "#{goal.title}...", goal
          = link_to do
            = image_tag(asset_path('octocat.png'), width: 30, height: 30)
        %td= link_to goal.created_by, User.github_path(goal.created_by)
        %td= goal.created.strftime('%b-%d')
        %td= pluralize(goal.reviews.count || 0, 'time')
        %td= link_to pluralize(goal.tried, 'group'), edit_goal_path(goal)
        %td= link_to goal.up, edit_goal_path(goal)
        %td= link_to goal.down, edit_goal_path(goal)
        / %td= link_to 'Destroy', goal, :method => :delete, :data => { :confirm => 'Are you sure?' }

%hr

%p
  Last Sync:
  = Goal.last_update.strftime('%b-%d %H:%M %Z')

= link_to 'New Goal', new_goal_path
