%table#goals-table.display.compact.nowrap{"cellspacing" => 0, "width" => "100%"}
  %thead
    %tr
      %th
      %th.text-center #
      %th Labels
      %th Goal Title
      %th.text-center Author
      %th.text-center Created
      %th.text-center Tried
      %th.text-center= image_tag(asset_path('up.jpeg'), width: 40, height: 40)
      %th.text-center= image_tag(asset_path('down.jpeg'), width: 40, height: 40)
      %th.text-center= image_tag(asset_path('check.png'), width: 40, height: 40)

  %tbody
    - @goals.each do |goal|
      %tr
        %td= link_to goal.description
        %td.text-center= link_to goal.id, goal.issue_path, title: 'See GitHub Issue/Goal'
        %td= render 'labels', goal: goal
        %td
          = button_to "Review", new_review_path(goal_id: goal.id)
          = link_to "#{goal.title}...", goal
          = link_to goal.issue_path do
            = image_tag(asset_path('octocat.png'), width: 30, height: 30)
        %td.text-center= link_to goal.created_by, User.github_path(goal.created_by)
        %td.text-center= goal.created.strftime('%m/%d')
        %td.text-center= link_to goal.tried, edit_goal_path(goal), title: "Tried by #{pluralize(goal.tried, 'group')}"
        %td.text-center= link_to goal.up, edit_goal_path(goal), title: "Upvoted #{pluralize(goal.up || 0, 'time')}"
        %td.text-center= link_to goal.down, edit_goal_path(goal), title: "Downvoted #{pluralize(goal.down || 0, 'time')}"
        %td.text-center= link_to goal.reviews.count || 0, goal, title: "Reviewed by #{pluralize(goal.reviews.count || 0, 'player')}"
        / %td= link_to 'Destroy', goal, :method => :delete, :data => { :confirm => 'Are you sure?' }

%hr

%p
  Syncs hourly with GitHub issues.  Last sync
  - if Goal.last_update
    = Goal.last_update.in_time_zone('Pacific Time (US & Canada)').strftime('%b-%d %H:%M %Z')
