%li= link_to 'Goals', goals_path
%li= link_to 'Add Goal/Issue', 'https://github.com/GuildCrafts/web-development-js/issues/new', target: :external
%li= link_to 'Add Review', new_review_path
%li= link_to 'Browse Reviews', reviews_path
%li= link_to 'About', about_path